CompileFlags:
  Add:
    - "--target=arm-none-eabi"
    - "-mcpu=cortex-m4"
    - "-mthumb"
    - "-mfloat-abi=hard"
    - "-mfpu=fpv4-sp-d16"
    - "-DUSE_HAL_DRIVER"
    - "-DSTM32F405xx"
    - "-DARM_MATH_CM4"
    - "-D__FPU_PRESENT=1"
    - "-D__CC_ARM"
    - "-I"
    - "Core/Inc"
    - "-I"
    - "Drivers/CMSIS/Include"
    - "-I"
    - "Drivers/CMSIS/Device/ST/STM32F4xx/Include"
    - "-I"
    - "Drivers/STM32F4xx_HAL_Driver/Inc"
    - "-I"
    - "Middlewares/Third_Party/FreeRTOS/Source/include"
    - "-I"
    - "Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2"
    - "-I"
    - "Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F"
    - "-I"
    - "Hardwares"
    - "-I"
    - "Hardwares/Dbus_Remote_Control"
    - "-I"
    - "Hardwares/I2c_Soft"
    - "-I"
    - "Hardwares/M3508"
    - "-I"
    - "Hardwares/MT6701"
    - "-I"
    - "Hardwares/Vofa_Send"
    - "-I"
    - "Tasks/Movement"
    - "-I"
    - "Tasks/Remote_Control"
    - "-I"
    - "Tasks/Vofa_Transmit"
    - "-I"
    - "."
    - "-std=gnu11"
  Compiler: "C:/Program Files/Arm/GNU Toolchain mingw-w64-x86_64-arm-none-eabi/bin/arm-none-eabi-gcc.exe"

Diagnostics:
  Suppress: []